@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Montserrat:wght@200&family=Noto+Serif&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
    scroll-behavior: smooth;
    scroll-timeline: .2s;
}

body{
    padding-top: 10rem;
    background: url(/public/images/bg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#main{
    width: 40%;
    margin: auto;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background: linear-gradient(to right,white, pink, indigo, black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 32px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 10px rgb(0, 238, 255));
}
.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #0ef;
    text-shadow: 0 0 15px #0ef;
}
.container {
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px #0ef,inset 0 0 5px #c40094;
}

h1 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}
#quiz-form{
    justify-content: center;
    align-items: center;
}

label {
    margin-top: 10px;
}
.text{
    display: flex;
}

input, select {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input{
    display: block;
    width: 24rem;
}

button {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}
.btn-add{
    margin: 8px 10px;
    border-radius: 5px;
}
.btn-sub{
    margin: 8px 10px;
    border-radius: 5px;
}
button:hover {
    /* background-color: #45a049; */
    background: transparent;
    text-shadow: 0 0 25px #0ef;
    box-shadow: 0 0 5px #0ef, inset 0 0 5px #c40094;
    font-weight: bold;
    color: #000;
    font-size: 16px;
}



